<div style="background: url('assets/img/trust.jpeg') no-repeat center center scroll;" class="background-img">

</div>
<div class="container-fluid">
  <div class="d-flex">
    <app-left-filter></app-left-filter>
    <div class="product-content">
      <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <div class="list-group">
          <a (click)="navigate(2)" class="list-group-item list-group-item-action active">
            Cras justo odio
          </a>
          <a (click)="navigate(2)" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a (click)="navigate(2)" class="list-group-item list-group-item-action">Morbi leo risus</a>
          <a (click)="navigate(2)" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
          <a (click)="navigate(2)" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
        </div>
      </div>
    </div>
  </div>
</div>
