<div style="background: url('assets/img/trust.jpeg') no-repeat center center scroll;" class="background-img">

</div>
<div class="container bg-white">
  <div class="breadcrumb">Trang chủ > Rau, củ, quả > Trái cây tươi</div>
  <div class="d-flex">
    <div class="product-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            <app-gallery></app-gallery>
          </div>
          <div class="col-4 info">
            <p class="font-weight-bolder" style="font-size: 1rem">Bưởi Đỏ Tân Lạc - 3Tfarm</p>
            <p style="font-size: 0.9rem">Danh mục: Trái cây tươi</p>
            <p class="text-danger font-weight-bold">35.000 Đ /Quả</p>
            <hr>
            <ul>
              <li>Ngày đăng bán: 30/11/2018</li>
              <li>Số lượt xem: 2085</li>
              <li>Đánh giá: <a href="#review" title="5">
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
              </a></li>
            </ul>
            <div class="d-flex justify-content-between">Trạng thái: <span
              class="text-danger font-weight-bold">Còn hàng</span></div>
            <div class="d-flex justify-content-between">Giao hàng từ: <span>Đất Đỏ-Bà Rịa-Vũng Tàu</span></div>
            <div class="d-flex justify-content-between">
              Đến:
              <ng-select [items]="provinces" placeholder="Chọn địa điểm">
              </ng-select>

            </div>
            <div>
              <i class="d-flex justify-content-between">Phí vận chuyển: <span class="text-danger">Khu vực không hỗ trợ dịch vụ</span></i>
            </div>
            <div class="d-flex justify-content-between mt-4">
              Số lượng:
              <app-input-number></app-input-number>
            </div>
            <div class="row float-right mr-1">
              <button class="btn btn-danger" style="font-size: 1rem">
                <i class="fa fa-shopping-cart"></i> CHỌN MUA
              </button>
            </div>
          </div>
          <div class="col-3 ">
            <div class="shop-detail border mr-1" style="padding: 1rem">
              <div class="row pt-1 pb-1 pl-1">
                <div class="col-3" style="padding: 0 !important;">
                  <a href="#">
                    <img src="assets/img/shop.png" alt="" style="height: 30px;width: auto; padding: 0 !important;">
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;">
                  <a href="#" style="font-size: 14px">Shop nông sản</a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3 textCenter" style="padding: 0 !important;font-size: 12px">1+ năm</div>
                <div class="col-9" style="padding: 0 !important;font-size: 12px">Hơp tác cùng nông sản số</div>
              </div>
              <div class="row mt-2">
                <div class="col-3 textCenter" style="padding: 0 !important;">
                  <a href="#" style="font-size: 12px">
                    <img src="assets/img/certifi.png" alt="" style="height: 39px;width: auto; padding: 0 !important;">
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;font-size: 12px">Chứng nhận bởi nông sản việt</div>
              </div>
              <div class="row mt-2">
                <button class="btn btn-success w-100 ml-2 mr-2">XEM SHOP</button>
              </div>
              <div class="row mt-2">
                <div class="col-3 textCenter" style="padding: 0 !important;">
                  <a href="#" style="font-size: 12px">
                    <img src="assets/img/certifi.png" alt="" style="height: 39px;width: auto; padding: 0 !important;">
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;font-size: 12px">Hệ thống đền bù 110% nếu phát hiện gian dối</div>
              </div>
            </div>
            <div class="contact border mt-2 mr-1" style="padding: 1rem">
              <div class="row pt-1 pb-1 pl-1">
                <div class="col-3" style="padding: 0 !important; text-align: center; margin: auto">
                  <a href="#">
                    <i class="fa fa-phone" style="font-size: 1.5rem"></i>
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;">
                  <h6 style="font-size: 0.8rem">Liên hệ:</h6>
                  <p style="font-size: 12px">Hotline: 0989751783 (8-18h trừ CN và ngày Lễ, Tết)</p>
                </div>
              </div>
              <div class="row mt-2 pr-1 pl-1">
                <div class="col-3" style="padding: 0 !important; text-align: center; margin: auto">
                  <a href="#">
                    <i class="fa fa-envelope" style="font-size: 1.5rem"></i>
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;">
                  <h6 style="font-size: 0.8rem">Email:</h6>
                  <p style="font-size: 12px; word-break: break-word">ducptd98@gmail.com</p>
                </div>
              </div>
              <hr>
              <div class="row mt-2">
                Bạn có muốn bán hàng không?
              </div>
              <button class="btn btn-success p-1">ĐĂNG KÍ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container bg-white mt-4 pt-4">
  <div class="row">
    <div class="col-6">
      <ngb-tabset [destroyOnHide]="false">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <h6>Mô tả sản phẩm</h6>
          </ng-template>
          <ng-template ngbTabContent>
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
              dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
              iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <h6>Nhà sản xuất</h6>
          </ng-template>
          <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
              craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
              cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
              yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
              shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
              sint qui sapiente accusamus tattooed echo park.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
    <div class="col-6">
      <h6>Địa chỉ người bán</h6>
    </div>
  </div>
</div>
<div class="container bg-white mt-4 pt-4">
  <h6>BÌNH LUẬN</h6>
  <div class="row">
    <p>Plugin bình luận fb</p>
  </div>
</div>
<div class="container bg-white mt-5 pt-4">
  <h6>ĐÁNH GIÁ SẢN PHẨM</h6>
  <hr>
  <div class="row">
    <app-comment></app-comment>
  </div>
  <div class="row">
    <app-comment></app-comment>
  </div>
  <form>
    <textarea style="width: 100%">Nhập nội dung đánh giá ở đây</textarea>
    <ngb-rating max="5" style="font-size: 2rem;color: #FDE16D; border: #000000"></ngb-rating>
    <br>
    <button class="btn btn-primary">Đánh giá</button>
  </form>
</div>
