<div style="background: url('assets/img/trust.jpeg') no-repeat center center scroll;" class="background-img">

</div>
<div class="container">
  <div class="breadcrumb">Trang chủ > Rau, củ, quả > Trái cây tươi</div>
  <div class="d-flex">
    <div class="product-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-5">
            <app-gallery></app-gallery>
          </div>
          <div class="col-4 info">
            <p class="font-weight-bolder" style="font-size: 1rem">Bưởi Đỏ Tân Lạc - 3Tfarm</p>
            <p style="font-size: 0.9rem">Danh mục: Trái cây tươi</p>
            <p class="text-danger font-weight-bold">35.000 Đ /Quả</p>
            <hr>
            <ul>
              <li>Ngày đăng bán: 30/11/2018</li>
              <li>Số lượt xem: 2085</li>
              <li>Đánh giá: <a href="#review" title="5">
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
              </a></li>
            </ul>
            <div class="d-flex justify-content-between">Trạng thái: <span
              class="text-danger font-weight-bold">Còn hàng</span></div>
            <div class="d-flex justify-content-between">Giao hàng từ: <span>Đất Đỏ-Bà Rịa-Vũng Tàu</span></div>
            <div class="d-flex justify-content-between">
              Đến:
              <div class="dropdown ">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Chọn địa điểm:
                </a>

                <div class="dropdown-menu custom-dropdown" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Bà Rại Vũng Tàu</a>
                  <a class="dropdown-item" href="#">TP.Hồ Chí Minh</a>
                  <a class="dropdown-item" href="#">Đồng Tháp</a>
                </div>
              </div>
            </div>
            <div>
              <i class="d-flex justify-content-between">Phí vận chuyển: <span class="text-danger">Khu vực không hỗ trợ dịch vụ</span></i>
            </div>
            <div class="d-flex justify-content-between mt-4">
              Số lượng:
              <app-input-number></app-input-number>
            </div>
            <div class="row float-right mr-1">
              <button class="btn btn-danger" style="font-size: 1rem">
                <i class="fa fa-shopping-cart"></i> CHỌN MUA
              </button>
            </div>
          </div>
          <div class="col-3 ">
            <div class="shop-detail border mr-1" style="padding: 1rem">
              <div class="row pt-1 pb-1 pl-1">
                <div class="col-3" style="padding: 0 !important;">
                  <a href="#">
                    <img src="assets/img/shop.png" alt="" style="height: 30px;width: auto; padding: 0 !important;">
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;">
                  <a href="#" style="font-size: 14px">Shop nông sản</a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-3 text-center" style="padding: 0 !important;font-size: 12px">1+ năm</div>
                <div class="col-9" style="padding: 0 !important;font-size: 12px">Hơp tác cùng nông sản số</div>
              </div>
              <div class="row mt-2">
                <div class="col-3 text-center" style="padding: 0 !important;">
                  <a href="#" style="font-size: 12px">
                    <img src="assets/img/certifi.png" alt="" style="height: 39px;width: auto; padding: 0 !important;">
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;font-size: 12px">Chứng nhận bởi nông sản việt</div>
              </div>
              <div class="row mt-2">
                <button class="btn btn-success w-100 ml-2 mr-2">XEM SHOP</button>
              </div>
              <div class="row mt-2">
                <div class="col-3 text-center" style="padding: 0 !important;">
                  <a href="#" style="font-size: 12px">
                    <img src="assets/img/certifi.png" alt="" style="height: 39px;width: auto; padding: 0 !important;">
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;font-size: 12px">Hệ thống đền bù 110% nếu phát hiện gian dối</div>
              </div>
            </div>
            <div class="contact border mt-2 mr-1" style="padding: 1rem">
              <div class="row pt-1 pb-1 pl-1">
                <div class="col-3" style="padding: 0 !important;">
                  <a href="#">
                    <i class="fa fa-phone" style="font-size: 1.5rem"></i>
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;">
                  <h6 style="font-size: 0.8rem">Liên hệ:</h6>
                  <p style="font-size: 12px">Hotline: 0989751783 (8-18h trừ CN và ngày Lễ, Tết)</p>
                </div>
              </div>
              <div class="row mt-2 pr-1 pl-1">
                <div class="col-3" style="padding: 0 !important;">
                  <a href="#">
                    <i class="fa fa-envelope" style="font-size: 1.5rem"></i>
                  </a>
                </div>
                <div class="col-9" style="padding: 0 !important;">
                  <h6 style="font-size: 0.8rem">Email:</h6>
                  <p style="font-size: 12px; word-break: break-word">ducptd98@gmail.com</p>
                </div>
              </div>
              <hr>
              <div class="row mt-2">
                Bạn có muốn bán hàng không?
              </div>
              <button class="btn btn-success p-1">ĐĂNG KÍ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
