<div class="">
  <div style="background: url('assets/img/MainBG.jpg') no-repeat center center scroll;" class="background-img">
    <owl-carousel
      [options]="{items: 1, dots: true, navigation: false}"
      [carouselClasses]="['owl-theme', 'sliding','text-center']">
      <div class="container" style="color: white" *ngFor="let title of titles;let i = index">
        <h2>
          <span style="font-size: 1rem">{{title.header}}</span><br>
          <span style="font-weight: bold">{{title.subHeader}}</span>
        </h2>
        <div class="more">
          <p style="font-size: 22px; line-height: 1.2; font-weight: 100;">{{title.description}}</p>
          <p class="link"><a class="raise" href="#">Tăng vốn</a></p>
        </div>
      </div>
    </owl-carousel>
  </div>
  <div class="home-projects">
    <h2> Các dự án mở</h2>
    <owl-carousel
      [options]="options"
      [carouselClasses]="['owl-theme', 'sliding']">
      <div style="color: white" *ngFor="let project of openProjects;let i = index">
        <div class="project-header">
          <h4>{{project.name}}</h4>
          <span>{{project.address}}</span>
        </div>
        <div [ngStyle]="{background: 'url(\''+project.img+'\')'}" class="image">
          <a href="#" class="postLink">
            <img [src]="project.logo" alt="brand">
          </a>
        </div>
        <div class="more">
          <div class="info-line"><span>Cổ phiếu có sẵn</span><span class="goal">1,650</span></div>
          <div class="info-line"><span>Năng suất trung bình 10 năm
												*</span><span>11.92%</span>
          </div>
          <div class="info-line"><span>Đơn vị giá**</span><span>$1,000</span></div>
        </div>
      </div>
    </owl-carousel>
  </div>
  <div class="hit-section" (mouseleave)="onMouseLeave()" style="background: url('assets/img/CocoSprout.jpg')">
    <div class="hit-container">
      <div class="hit-header">
      </div>
      <div class="hit-content">
        <div class="left-content" (mouseenter)="onMouseOver('left')">
          <h3 [hidden]="animateRight" [@fadeInDownOnEnter]>
            Nhà đầu tư
          </h3>
          <div id="left" *ngIf="animateLeft" class="list-content" [@fadeInLeftOnEnter] [class.left-trans]="animateLeft">
            <ol class="listItems">
              <li class="item">Chọn 1 dự án</li>
              <li class="item">Tài liệu được cấp với chữ kí điện tử</li>
              <li class="item">Phương thức thanh toán (Tiền mặt, IRA, Niềm tin,
                hoặc thứ
                giá trị khác)
              </li>
              <li class="item">Nhận cổ phiếu trực tiếp và / hoặc
                tái đầu tư tiền thu được
              </li>
            </ol>
            <div class="more">
              <p class="details"><a href="#" style="color: white !important;">Chi tiết hơn</a>
              </p>
            </div>
          </div>
        </div>
        <div class="right-content" (mouseenter)="onMouseOver('right')">
          <h3 [hidden]="animateLeft" [@fadeInDownOnEnter]>
            Chủ vườn
          </h3>
          <div id="right" *ngIf="animateRight" class="list-content" [@fadeInRightOnEnter] [class.right-trans]="animateRight">
            <div class="listItems">
              <div class="item item1">Chọn 1 dự án</div>
              <div class="item item2">Tài liệu được cấp với chữ kí điện tử</div>
              <div class="item item3">Phương thức thanh toán (Tiền mặt, IRA, Niềm tin,
                hoặc thứ
                giá trị khác)
              </div>
              <div class="item item4">Nhận cổ phiếu trực tiếp và / hoặc
                tái đầu tư tiền thu được
              </div>
            </div>
            <div class="more">
              <p class="details"><a href="#" style="color: white !important;">Chi tiết hơn</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-supply-section></app-supply-section>
  <app-product-section></app-product-section>
</div>

