.more {
  max-width: 710px;
  margin: 0 auto;
}

.link a {
  display: inline-block;
  font-weight: 900;
  text-transform: uppercase;
  width: 215px;
  height: 44px;
  line-height: 40px;
  background: #5e7e17;
  opacity: 0.8;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  text-decoration: none;
}

.link a.raise {
  background: #e96400;
}

.link a:hover {
  opacity: 1;
}

.backgroud-img {
  height: 500px;
  margin-top: -20px;
  background-size: cover !important;
}
