<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Danh mục sản phẩm</div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Rau, củ, quả</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Các loại thịt</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Thuỷ - Hải sản</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Thực phẩm đóng hộp</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Cây giống - Con giống</a>
    <a href="#" class="list-group-item list-group-item-action bg-light">Sản phẩm khác</a>
  </div>
</div>
