#sidebar-wrapper{
  .sidebar-heading {
    padding: 0.875rem 2.25rem 0.875rem 1.25rem;
    font-size: 1rem;
    width: max-content;
    font-weight: bold;
  }
  .list-group a:hover {
    background: #6d9a13 !important;
    color: white !important;
  }
}

