<footer id="colophon" class="site-footer" role="contentinfo" data-0="bottom:-1978px;"
        data-4400="bottom:-1356px;" data-end="bottom:0px;">
  <div class="site-info">
    <div class="top-footer">
      <div class="container">
        <aside id="text-4" class="widget widget_text">
          <h3 class="widget-title">Footer Logo</h3>
          <div class="textwidget">
            <div class="footer-logo">
              <p><img src="assets/img/Farmfolio.png"></p>
              <p>
                Farm portfolio đang tạo ra một cách có trách nhiệm xã hội và đơn giản để mang
                lại cho các nhà đầu tư
                và chủ đất / nhà phát triển cùng với Farmshares™</p>
            </div>
          </div>
        </aside>
        <aside id="nav_menu-2" class="widget widget_nav_menu">
          <h3 class="widget-title">Đầu tư</h3>
          <div class="menu-footer-first-block-container">
            <ul id="menu-footer-first-block" class="menu">
              <li id="menu-item-368"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368">
                <a href="index.html">Farmshares™</a></li>
            </ul>
          </div>
        </aside>
        <aside id="nav_menu-5" class="widget widget_nav_menu">
          <h3 class="widget-title">Gọi vốn</h3>
          <div class="menu-footer-second-block-container">
            <ul id="menu-footer-second-block" class="menu">
              <li id="menu-item-590"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-590">
                <a href="how-it-works.html">Cách hoạt động</a></li>
              <li id="menu-item-589"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-589">
                <a href="submit-your-property.html">Tạo dự án</a></li>
            </ul>
          </div>
        </aside>
        <aside id="nav_menu-3" class="widget widget_nav_menu">
          <h3 class="widget-title">Công ty</h3>
          <div class="menu-footer-third-section-container">
            <ul id="menu-footer-third-section" class="menu">
              <li id="menu-item-588"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-588">
                <a href="about.html">Về chúng tôi</a></li>
              <li id="menu-item-587"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-587">
                <a href="index.html">Bài viết</a></li>
              <li id="menu-item-586"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-586">
                <a href="index.html">FAQs</a></li>
              <li id="menu-item-585"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-585">
                <a href="index.html">Bảng chú thích</a></li>
            </ul>
          </div>
        </aside>
        <div class="footer-newsletter">
          <h3>Đăng kí thư</h3>
          <div role="form" class="wpcf7" id="wpcf7-f1190-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="index.html#wpcf7-f1190-o1" method="post"
                  class="wpcf7-form mailchimp-ext-0.5.04" novalidate="novalidate">
              <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="1190" />
                <input type="hidden" name="_wpcf7_version" value="4.9.1" />
                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1190-o1" />
                <input type="hidden" name="_wpcf7_container_post" value="0" />
              </div>
              <p><span class="wpcf7-form-control-wrap ne"><input type="email" name="ne" value=""
                                                                 size="40"
                                                                 class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email newsletter-email"
                                                                 aria-required="true" aria-invalid="false"
                                                                 placeholder="Your E-mail Address" /></span><br />
                <input type="submit" value="Subscribe"
                       class="wpcf7-form-control wpcf7-submit newsletter-submit" /></p>
              <input type='hidden' class='wpcf7-pum'
                     value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
              <div class="wpcf7-response-output wpcf7-display-none"></div>
              <p style="display: none !important"><span
                class="wpcf7-form-control-wrap referer-page"><input type="hidden"
                                                                    name="referer-page" value=""
                                                                    class="wpcf7-form-control wpcf7-text referer-page"
                                                                    aria-invalid="false"></span></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <aside id="text-5" class="widget widget_text">
          <h3 class="bottom-footer-title">Đăng kí nhận</h3>
          <div class="textwidget">
            <div class="footer-contact">
              <h3>Đăng kí nhận</h3>
              <span class="fa fa-envelope-o"></span> <a
              href="index.html#fe97909891be989f8c939891929791d0909b8a"><span
              class="__cf_email__"
              data-cfemail="6c05020a032c0a0d1e010a0300050342020918">[email&#160;protected]</span></a>
            </div>
          </div>
        </aside>
        <aside id="text-12" class="widget widget_text">
          <h3 class="bottom-footer-title">Phone</h3>
          <div class="textwidget">
            <div class="footer-contact"><a href="tel:+18885659941">✆ +1 (888) 565-9941</a></div>
          </div>
        </aside>
        <aside id="text-9" class="widget widget_text">
          <h3 class="bottom-footer-title">Địa chỉ</h3>
          <div class="textwidget"></div>
        </aside>
        <aside id="nav_menu-4" class="widget widget_nav_menu">
          <h3 class="bottom-footer-title">Mạng xã hỗi</h3>
          <div class="menu-footer-social-container">
            <ul id="menu-footer-social" class="menu">
              <li id="menu-item-113"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-113"><a
                href="https://www.facebook.com/farmfoliollc"><span
                class="fa fa-facebook"></span></a></li>
              <li id="menu-item-114"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-114"><a
                href="https://twitter.com/farmfolio"><span class="fa fa-twitter"></span></a>
              </li>
              <li id="menu-item-115"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115"><a
                href="https://www.linkedin.com/company/farmfolio"><span
                class="fa fa-linkedin"></span></a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</footer>
